/* NotoSerif used for body */
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Yanone Kaffeesatz used for h1, h2, h3 */
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
}

/* Ubuntu Mono used for code, do we need Italic for code ? */
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Ubuntu */
@font-face{
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Ubuntu Condensed (titles) */
@font-face{
  font-family: 'Ubuntu Condensed';
  src: url('Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

/* Oswald */
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-Regular.ttf');
}
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-Light.ttf');
  font-style: light;
}
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-ExtraLight.ttf');
  font-style: extralight;
}
@font-face{
  font-family: 'Oswald';
  src: url('Oswald/Oswald-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}


/* Source Sans Pro */
@font-face{
  font-family: 'Source Sans Pro';
  src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url('Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url('Source_Sans_Pro/SourceSansPro-RegularItalic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Source Sans Pro';
  src: url('Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Roboto */
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Roboto';
  src: url('Roboto/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Roboto Condensed */
@font-face{
  font-family: 'Roboto_Condensed';
  src: url('Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face{
  font-family: 'Roboto_Condensed';
  src: url('Roboto_Condensed/RobotoCondensed-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Roboto_Condensed';
  src: url('Roboto_Condensed/RobotoCondensed-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Roboto_Condensed';
  src: url('Roboto_Condensed/RobotoCondensed-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
